@charset "UTF-8";
/*
	=======================
		SECTION SERVICES
	=======================
*/
.services {
	display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.services-item-wrapper {
	width: 266px;
	text-align: center;
	&:after {
		content: "";
	    display: block;
	    width: 70px;
	    height: 30px;
	    margin: 0 auto;
	    border-bottom: 3px solid #f1eee9;
	    box-sizing: border-box;
	    @include animate(all, 320ms);
	}
	&:hover {
		.services-item-link {
			color: $pr-color;
		}
		.services-item-icon {
			&.icon-design {
				background-image: url(../img/icon_pencil_h.svg);
			}
			&.icon-development {
				background-image: url(../img/icon_layer_h.svg);
			}
			&.icon-customization {
				background-image: url(../img/icon_gear_h.svg);
			}
			&.icon-marketing {
				background-image: url(../img/icon_bag_h.svg);
			}
		}
		&:after {
		    border-bottom-color: $pr-color;
		}
	}
}
.services-item-icon {
	display: block;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	margin: 0 auto 29px;
	width: 49px;
	height: 49px;
	&.icon-design {
		background-image: url(../img/icon_pencil.svg);
	}
	&.icon-development {
		background-image: url(../img/icon_layer.svg);
	}
	&.icon-customization {
		background-image: url(../img/icon_gear.svg);
	}
	&.icon-marketing {
		background-image: url(../img/icon_bag.svg);
	}
}
.services-item-title {
	margin-bottom: 20px;
}
.services-item-link {
	color: $title-txt-color;
	font-family: $title-font;
	font-size: 22px;
	line-height: 1.2;
	font-weight: 600;
}
/*
	=======================
		SECTION IDEAS
	=======================
*/
.ideas {
	padding-bottom: 0;
}
.section-title {
	margin-bottom: 25px;
}
.section-subtitle {
	font-size: 16px;
	line-height: 28px;
	display: block;
	width: 757px;
	margin: 0 auto 40px;
}
.ideas-carousel {
	position: relative;
	height: 482px;
}
.ideas-carousel-item {
	position: absolute;
	bottom: 0;
	left: calc(50% - 350px);
	z-index: 5;
	-webkit-transform: scale(1);
	        transform: scale(1);
	@include animate(all, 500ms);
}
.ideas-carousel-item:not([data-index="2"]) {
	z-index: 1;
	&:hover {
		bottom: 40px;
		z-index: 10;
        -webkit-transform: scale(1.2);
                transform: scale(1.2);
	}
}
.ideas-carousel-item[data-index="1"] {
	right: unset;
	left: 15%;
}
.ideas-carousel-item[data-index="3"] {
	right: 15%;
	left: unset;
}
.ideas-offer-wrapper {
	height: 150px;
	padding: 48px 0;
	background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
	.btn {
		float: right;
	}
}
.ideas-offer-txt {
    float: left;
}
.ideas-offer-title {
	color: #fff;
	font-family: $title-font;
	font-size: 28px;
	line-height: 1.2;
	font-weight: 400;
	margin-bottom: 8px;
}
.ideas-offer-subtitle {
	font-size: 18px;
	line-height: 1.2;
	color: #615855;
}
/*
	=======================
		SECTION PROJECTS
	=======================
*/