@charset "UTF-8";
/*
	=======================
		SECTION SERVICES
	=======================
*/
.services {
	display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.services-item-wrapper {
	width: 266px;
	text-align: center;
	&:after {
		content: "";
	    display: block;
	    width: 70px;
	    height: 30px;
	    margin: 0 auto;
	    border-bottom: 3px solid #f1eee9;
	    box-sizing: border-box;
	    @include animate(all, 320ms);
	}
	&:hover {
		.services-item-link {
			color: $pr-color;
		}
		.services-item-icon {
			&.icon-design {
				background-image: url(../img/icon_pencil_h.svg);
			}
			&.icon-development {
				background-image: url(../img/icon_layer_h.svg);
			}
			&.icon-customization {
				background-image: url(../img/icon_gear_h.svg);
			}
			&.icon-marketing {
				background-image: url(../img/icon_bag_h.svg);
			}
		}
		&:after {
		    border-bottom-color: $pr-color;
		}
	}
}
.services-item-icon {
	display: block;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	margin: 0 auto 29px;
	width: 49px;
	height: 49px;
	&.icon-design {
		background-image: url(../img/icon_pencil.svg);
	}
	&.icon-development {
		background-image: url(../img/icon_layer.svg);
	}
	&.icon-customization {
		background-image: url(../img/icon_gear.svg);
	}
	&.icon-marketing {
		background-image: url(../img/icon_bag.svg);
	}
}
.services-item-title {
	margin-bottom: 20px;
}
.services-item-link {
	color: $title-txt-color;
	font-family: $title-font;
	font-size: 22px;
	line-height: 1.2;
	font-weight: 600;
}
/*
	=======================
		SECTION IDEAS
	=======================
*/
.ideas {
	padding-bottom: 0;
}
.section-title {
	margin-bottom: 25px;
}
.section-subtitle {
	font-size: 16px;
	line-height: 28px;
	display: block;
	width: 757px;
	margin: 0 auto 40px;
}
.ideas-carousel {
	position: relative;
	height: 482px;
}
.ideas-carousel-item {
	position: absolute;
	bottom: 0;
	left: calc(50% - 350px);
	z-index: 5;
	-webkit-transform: scale(1);
	        transform: scale(1);
	@include animate(all, 500ms);
}
.ideas-carousel-item:not([data-index="2"]) {
	z-index: 1;
	&:hover {
		bottom: 40px;
		z-index: 10;
        -webkit-transform: scale(1.2);
                transform: scale(1.2);
	}
}
.ideas-carousel-item[data-index="1"] {
	right: unset;
	left: 15%;
}
.ideas-carousel-item[data-index="3"] {
	right: 15%;
	left: unset;
}
.ideas-offer-wrapper {
	height: 150px;
	padding: 48px 0;
	background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
	.btn {
		float: right;
	}
}
.ideas-offer-txt {
    float: left;
}
.ideas-offer-title {
	color: #fff;
	font-family: $title-font;
	font-size: 28px;
	line-height: 1.2;
	font-weight: 400;
	margin-bottom: 8px;
}
.ideas-offer-subtitle {
	font-size: 18px;
	line-height: 1.2;
	color: #615855;
}
/*
	=======================
		SECTION PROJECTS
	=======================
*/
.projects .section-subtitle {
	margin-bottom: 56px;
}
.projects-filter {
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 30px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
.project-items-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.project-item-wrp {
	margin-bottom: 30px;
	background-color: $bg-color;

	&:hover {
		.project-img-wrp {
			.overlay {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-color: $bg-dark-color;
				opacity: .8;
			}
			.project-item-link-big-img,
			.project-item-link {
				opacity: 1;
				z-index: 10;
			}
		}
		.project-item-txt {
			background-color: $bg-dark-color;
			&:before {
				border-bottom-color: $bg-dark-color;
			}
		}
		.project-item-title {
			color: #fff;
		}
		.project-item-category {
			color: $pr-color;
		}
	}
}
.project-img-wrp {
	position: relative;
	.overlay {
		opacity: 0;
		@include animate(all, 320ms);
	}
}
.project-item-link-big-img {
	position: absolute;
    top: calc(50% - 13px);
    left: 38%;
	width: 26px;
	height: 26px;
	background-image: url(../img/icon_link.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	opacity: 0;
	z-index: -1;
}
.project-item-link {
	position: absolute;
    top: calc(50% - 13px);
    right: 38%;
	width: 26px;
	height: 26px;
	background-image: url(../img/icon_lupa.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	opacity: 0;
	z-index: -1;
}
.project-item-img {
	display: block;
}
.project-item-txt {
	position: relative;
	padding: 30px;
	background-color: $bg-color;
	@include animate(all, 320ms);
	&:before {
		position: absolute;
	    content: "";
	    width: 0;
	    height: 0;
	    top: -10px;
	    border-left: 15px solid transparent;
	    border-right: 15px solid transparent;
	    border-bottom: 10px solid $bg-color;
	    @include animate(all, 320ms);
	}
}
.project-item-title {
	color: $pr-color;
	margin-bottom: 5px;
}
.btn-load-more {
	display: block;
	border: none;
	cursor: pointer;
	margin: 0 auto;
}
/*
	=======================
		SECTION PRESENTATION
	=======================
*/
.presentation {
	position: relative;
}
.presentation-txt-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	color: #fff;
	display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.btn-video-play {
	margin: 0 0 44px 0;
    padding: 0;
	width: 100px;
	height: 100px;
	border: none;
	border-radius: 50%;
	background-image: url(../img/icon_play.svg);
	background-color: rgba(0, 0, 0, .2);
	background-repeat: no-repeat;
	background-size: 70px 70px;
	background-position: center;
	cursor: pointer;
	z-index: 10;
}
.presentation-video-title {
	font-size: 30px;
	font-weight: 500;
	color: #ffffff;
	margin-bottom: 30px;
}
.presentation-video-descr {
	max-width: 552px;
	font-size: 16px;
	line-height: 28px;
	text-align: center;
}
video {
	width: 100%;
}