@charset "UTF-8";
/*
	=======================
		SECTION SERVICES
	=======================
*/
.services {
	padding: 80px 0;
	display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.services-item-wrapper {
	width: 266px;
	text-align: center;
	&:after {
		content: "";
	    display: block;
	    width: 70px;
	    height: 30px;
	    margin: 0 auto;
	    border-bottom: 3px solid #f1eee9;
	    box-sizing: border-box;
	}
	&.active {
		.services-item-link {
			color: $pr-color;
		}
		&:after {
		    border-bottom-color: $pr-color;
		}
	}
}
.services-item-icon {
	display: block;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	margin: 0 auto 29px;
	&.icon-design {
		width: 49px;
		height: 49px;
		background-image: url(../img/icon_pencil.svg);
	}
	&.icon-development {
		width: 49px;
		height: 49px;
		background-image: url(../img/icon_layer.svg);
	}
	&.icon-customization {
		width: 49px;
		height: 49px;
		background-image: url(../img/icon_gear.svg);
	}
	&.icon-marketing {
		width: 49px;
		height: 49px;
		background-image: url(../img/icon_bag.svg);
	}
}
.services-item-title {
	margin-bottom: 20px;
}
.services-item-link {
	color: $title-txt-color;
	font-family: $title-font;
	font-size: 22px;
	line-height: 1.2;
	font-weight: 600;
}